In [88]:
import pandas as pd
import numpy as np

In [155]:
#Location = f'C:\\Users\\xiaohang\\Documents\\np.csv'
#Location = f'C:\\pothole\\mht1.csv'
Location = f'C:\\Users\\xiaohang\\Documents\\nearestnode_201612.csv'
df = pd.read_csv(Location)

In [156]:
df = df.dropna(subset = ['id_road'])

In [157]:
df

,field_1,density,latitude,longitude,stname_lab,streetwidt,id_road,node1,node2,length,n,distance,feature_x,feature_y,nearest_x,nearest_y
225,225,13.105274,40.765807,-73.983670,W 58 ST,48.0,790.0,367.0,369.0,903.284,1.0,0.001968,-73.983670,40.765807,-73.982906,40.767620
226,226,12.568763,40.765807,-73.983308,W 58 ST,48.0,790.0,367.0,369.0,903.284,1.0,0.001827,-73.983308,40.765807,-73.982598,40.767490
227,227,12.326929,40.765807,-73.982946,W 58 ST,48.0,790.0,367.0,369.0,903.284,1.0,0.001688,-73.982946,40.765807,-73.982365,40.767392
228,227,12.326929,40.765807,-73.982946,8 AV,70.0,787.0,369.0,368.0,146.492,2.0,0.001688,-73.982946,40.765807,-73.982365,40.767392
229,228,12.275041,40.765807,-73.982583,W 58 ST,48.0,790.0,367.0,369.0,903.284,1.0,0.001600,-73.982583,40.765807,-73.982365,40.767392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9894,9769,1164.345145,40.807182,-73.967728,RIVERSIDE DR,16.0,9.0,7.0,1.0,300.199,1.0,0.001729,-73.967728,40.807182,-73.967723,40.805453
9895,9769,1164.345145,40.807182,-73.967728,W 111 ST,30.0,1.0,2.0,1.0,442.229,2.0,0.001729,-73.967728,40.807182,-73.967723,40.805453
9896,9770,1326.533204,40.807182,-73.967366,RIVERSIDE DR,16.0,9.0,7.0,1.0,300.199,1.0,0.001765,-73.967366,40.807182,-73.967723,40.805453
9897,9770,1326.533204,40.807182,-73.967366,W 111 ST,30.0,1.0,2.0,1.0,442.229,2.0,0.001765,-73.967366,40.807182,-73.967723,40.805453
9898,9771,1483.277822,40.807182,-73.967004,W 111 ST,30.0,1.0,2.0,1.0,442.229,1.0,0.001873,-73.967004,40.807182,-73.967720,40.805452

In [158]:
df.density = df.density.astype('double')
#df['id_road'].isnull().any()

In [159]:
dfroadinfo = pd.read_csv(f'C:\\pothole\\road_map.csv')
dfroadinfo['density'] = 0.0
dfroadinfo['id_road'].dtype

dtype('int64')

In [160]:
dfroadinfo

         stname_lab  streetwidt  id_road  node1  node2   length  density
0    CENTRAL PARK W        62.0      465    214    207  264.124      0.0
1           W 86 ST        60.0      404    182    183   67.223      0.0
2           W 93 ST        30.0      295    132    131  534.172      0.0
3       COLUMBUS AV        60.0      677    309    314  259.889      0.0
4       COLUMBUS AV        60.0      448    199    206  263.471      0.0
..              ...         ...      ...    ...    ...      ...      ...
650             NaN         NaN      510    230    231   66.083      0.0
651             NaN         NaN      631    282    281  811.572      0.0
652             NaN         NaN      691    299    300  601.710      0.0
653        BROADWAY        40.0      716    330    339  428.202      0.0
654             NaN         NaN      778    368    363  830.000      0.0

[655 rows x 7 columns]

In [161]:
df['id_road'] = df['id_road'].astype(np.int64)
df['id_road'].dtype

dtype('int64')

In [162]:
print(df['id_road'])

225     790
226     790
227     790
228     787
229     790
       ...
9894      9
9895      1
9896      9
9897      1
9898      1
Name: id_road, Length: 4533, dtype: int64

In [163]:
for i, row in df.iterrows():
    #print(row)
    #print(row['density'])
    #print(row['id_road'])
    dfroadinfo.loc[dfroadinfo['id_road'] == row['id_road'],'density'] = dfroadinfo.loc[dfroadinfo['id_road'] == row['id_road'],'density'] + row['density']
    #rs.loc[row['id_road'],0] = rs.loc[row['id_road'],0] + row['density']
    #print(row['id'])

In [164]:
dfroadinfo.describe()

,streetwidt,id_road,node1,node2,length,density
count,647.000000,655.000000,655.000000,655.000000,655.000000,655.000000
mean,43.581144,397.774046,182.145038,180.274809,400.643072,8885.277709
std,14.336485,227.403797,104.647108,104.509079,313.782254,9758.374610
min,0.000000,1.000000,2.000000,1.000000,58.349000,0.000000
25%,30.000000,201.500000,93.500000,90.500000,261.849500,2306.951510
50%,40.000000,395.000000,181.000000,180.000000,281.488000,5671.270842
75%,60.000000,591.000000,269.000000,266.000000,458.800000,12468.858985
max,80.000000,791.000000,370.000000,370.000000,5448.210000,67862.703041

In [165]:
dfroadinfo['weighteddensity'] = dfroadinfo['density']/dfroadinfo['length']

In [166]:
dfroadinfo.describe()

,streetwidt,id_road,node1,node2,length,density,weighteddensity
count,647.000000,655.000000,655.000000,655.000000,655.000000,655.000000,655.000000
mean,43.581144,397.774046,182.145038,180.274809,400.643072,8885.277709,22.607779
std,14.336485,227.403797,104.647108,104.509079,313.782254,9758.374610,33.315117
min,0.000000,1.000000,2.000000,1.000000,58.349000,0.000000,0.000000
25%,30.000000,201.500000,93.500000,90.500000,261.849500,2306.951510,6.673382
50%,40.000000,395.000000,181.000000,180.000000,281.488000,5671.270842,15.198458
75%,60.000000,591.000000,269.000000,266.000000,458.800000,12468.858985,28.919022
max,80.000000,791.000000,370.000000,370.000000,5448.210000,67862.703041,548.108430

In [167]:
dfroadinfo

,stname_lab,streetwidt,id_road,node1,node2,length,density,weighteddensity
0,CENTRAL PARK W,62.0,465,214,207,264.124,7874.008137,29.811786
1,W 86 ST,60.0,404,182,183,67.223,0.000000,0.000000
2,W 93 ST,30.0,295,132,131,534.172,28980.943647,54.253955
3,COLUMBUS AV,60.0,677,309,314,259.889,1374.671716,5.289457
4,COLUMBUS AV,60.0,448,199,206,263.471,2506.283921,9.512561
...,...,...,...,...,...,...,...,...
650,NaN,NaN,510,230,231,66.083,0.000000,0.000000
651,NaN,NaN,631,282,281,811.572,13775.206939,16.973487
652,NaN,NaN,691,299,300,601.710,12576.261202,20.900868
653,BROADWAY,40.0,716,330,339,428.202,685.897178,1.601808
654,NaN,NaN,778,368,363,830.000,856.450609,1.031868

In [168]:
dfroadinfo.to_csv(r'C:\pothole\Wdens201612.csv')